<md-list>
  <md-list-item class="rate-item" *ngFor="let rate of currentRates">
    <div class="rate-item">
      <img class="flag" [src]="currencies[rate.cid].icon">
      <span class="text-display">{{rate.value}}</span>
      <span class="text-display">{{currencies[rate.cid].name}}</span>
      <md-icon (click)="displayHistoricalRate(rate.cid)">home</md-icon>
    </div>
  </md-list-item>
  <md-divider></md-divider>
</md-list>
<md-card style="width: 80px; height: 100px">
<h3>{{baseCurrency?.code}}</h3>
<img md-card-image [src]="baseCurrency?.icon">
</md-card>

<button md-button (click)="selectBaseCurrency()">select</button>